Repository devpow112/serverless-plugin-function-value, changes with the labels that .github/labeler.yml gives for each.
All labels: javascript, github-actions, documentation

chore: switch to sharable config
  .releaserc.json
  package-lock.json
  package.json
Labels: javascript

chore: remove CODEOWNERS
  .github/CODEOWNERS
Labels: documentation

chore: remove CODEOWNERS
  .github/CODEOWNERS
Labels: documentation

chore: downgrade node
  .nvmrc
Labels: none

chore: downgrade node
  .nvmrc
Labels: none

chore(node): bump from 16.13.0 to 16.14.0
  .nvmrc
Labels: none

chore(node): bump from 16.13.0 to 16.14.0
  .nvmrc
Labels: none

chore: re-add CODEOWNERS
  .github/CODEOWNERS
Labels: documentation

chore: re-add CODEOWNERS
  .github/CODEOWNERS
Labels: documentation

chore: switch to shareable config
  .commitlintrc.json
  package-lock.json
  package.json
Labels: javascript

chore: switch to shareable config
  .commitlintrc.json
  package-lock.json
  package.json
Labels: javascript

chore: mocha ESM
  .mocharc.json
Labels: none

chore: switch to shared babel config
  .babelrc.json
  .commitlintrc.json
  package-lock.json
  package.json
Labels: javascript

chore: switch to shared babel config
  .babelrc.json
  .commitlintrc.json
  package-lock.json
  package.json
Labels: javascript

chore: add `.npmrc`
  .npmrc
Labels: none

chore: add `.npmrc`
  .npmrc
Labels: none

build: re-work workflows
  .github/workflows/ci.yml
  .github/workflows/pull-request.yml
  .github/workflows/push.yml
Labels: github-actions

build: re-work workflows
  .github/workflows/ci.yml
  .github/workflows/pull-request.yml
  .github/workflows/push.yml
Labels: github-actions

chore: clear logs
  .github/workflows/ci2.yml
  .github/workflows/pull-request.yml
  .github/workflows/push.yml
Labels: github-actions

chore: clear logs
  .github/workflows/ci2.yml
  .github/workflows/pull-request.yml
  .github/workflows/push.yml
Labels: github-actions

build: name workflow
  .github/workflows/ci.yml
  .github/workflows/pull-request.yml
  .github/workflows/push.yml
Labels: github-actions

build: name workflow
  .github/workflows/ci.yml
  .github/workflows/pull-request.yml
  .github/workflows/push.yml
Labels: github-actions

chore: clean-up workflows
  .github/workflows/pull-request.yml
  .github/workflows/push.yml
  .github/workflows/reusable-ci.yml
Labels: github-actions

chore: rename workflow
  .github/workflows/release.yml
  README.md
Labels: github-actions, documentation

chore: rename workflow
  .github/workflows/release.yml
  README.md
Labels: github-actions, documentation

chore(deps): update
  .github/workflows/ci.yml
  package-lock.json
  package.json
Labels: javascript, github-actions

chore(deps): update
  .github/workflows/ci.yml
  package-lock.json
  package.json
Labels: javascript, github-actions

chore(release): 2.0.3
  package-lock.json
  package.json
Labels: javascript

Notes added by 'git notes add'
  f3/dcfb8e4ba301132f9bad1f8e5a246301843d0a
Labels: none

build: skip release builds
  .github/workflows/release.yml
Labels: github-actions

build: skip release builds
  .github/workflows/release.yml
Labels: github-actions

chore: add space
  .github/workflows/release.yml
Labels: github-actions

chore: add space
  .github/workflows/release.yml
Labels: github-actions

.github/labeler.yml:

javascript:
  - 'package-lock.json'
  - 'package.json'
  - '**/*.js'
github-actions:
  - '.github/workflows/*'
documentation:
  - '.github/CODEOWNERS'
  - 'LICENSE'
  - '*.md'
