Repository devpow112/serverless-plugin-function-value, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, github-actions, javascript

chore: adjust usage of step output
  .github/workflows/update-license.yml
Labels: github-actions

chore: adjust usage of step output
  .github/workflows/update-license.yml
Labels: github-actions

chore: adjust nvm step usage
  .github/workflows/update-node.yml
Labels: github-actions

chore: adjust nvm step usage
  .github/workflows/update-node.yml
Labels: github-actions

chore: adjust node update schedule
  .github/workflows/update-node.yml
Labels: github-actions

chore: adjust node update schedule
  .github/workflows/update-node.yml
Labels: github-actions

fix: package sort order
  package.json
Labels: javascript

chore: adjust pull request workflow concurrency
  .github/workflows/pull-request.yml
Labels: github-actions

fix: package sort order
  package.json
Labels: javascript

chore: adjust pull request workflow concurrency
  .github/workflows/pull-request.yml
Labels: github-actions

Notes added by 'git notes add'
  c196744ac71ce70f164d70af3eb4b7af07900647
Labels: none

chore(release): 2.0.14 [skip actions]
  package-lock.json
  package.json
Labels: javascript

fix: update eslint dependencies and widen semver pins
  eslint.config.js
  package-lock.json
  package.json
  test/unit/function-value-plugin.test.js
Labels: javascript

fix: update eslint dependencies and widen semver pins
  eslint.config.js
  package-lock.json
  package.json
  test/unit/function-value-plugin.test.js
Labels: javascript

chore(release): 2.0.15 [skip actions]
  package-lock.json
  package.json
Labels: javascript

Notes added by 'git notes add'
  6a3950b4c3cd62250af648e03ee1c94cb65446bd
Labels: none

chore(release): 2.0.16 [skip actions]
  package-lock.json
  package.json
Labels: javascript

Notes added by 'git notes add'
  cab1fbf3eef4745b9857f7d3137f94ec98134759
Labels: none

chore: remove label sync files
  .github/labels.yml
  .github/workflows/sync-labels.yml
Labels: github-actions

chore: remove label sync files
  .github/labels.yml
  .github/workflows/sync-labels.yml
Labels: github-actions

Notes added by 'git notes add'
  5500b109201d5c5a19aeef4f2c576e28c3dcfeed
Labels: none

chore(release): 2.0.17 [skip actions]
  package-lock.json
  package.json
Labels: javascript

chore(release): 2.0.18 [skip actions]
  package-lock.json
  package.json
Labels: javascript

Notes added by 'git notes add'
  56e8a9e03ad806c0e798c672b867738639b1b261
Labels: none

chore(release): 2.0.19 [skip actions]
  package-lock.json
  package.json
Labels: javascript

Notes added by 'git notes add'
  7b7aae09e56fdcd1d176cf3b9999b5b0e85138f8
Labels: none

chore(release): 2.0.20 [skip actions]
  package-lock.json
  package.json
Labels: javascript

Notes added by 'git notes add'
  e7c4ba826b296f49168a8aa8a3c3c44ae3554989
Labels: none

chore(release): 2.0.21 [skip actions]
  package-lock.json
  package.json
Labels: javascript

Notes added by 'git notes add'
  542a909d2505c31f709520cfd39d47bc7f7a2dc9
Labels: none

fix: consolidate peer and duplicate dependencies
  package-lock.json
  package.json
Labels: javascript

fix: consolidate peer and duplicate dependencies
  package-lock.json
  package.json
Labels: javascript

chore(release): 2.0.22 [skip actions]
  package-lock.json
  package.json
Labels: javascript

Notes added by 'git notes add'
  5b772dc11edd23d50dffaa4a55fe4013384880a3
Labels: none

build: use client-id for create-github-app-token
  .github/workflows/release.yml
  .github/workflows/update-license.yml
  .github/workflows/update-node.yml
Labels: github-actions

build: use client-id for create-github-app-token
  .github/workflows/release.yml
  .github/workflows/update-license.yml
  .github/workflows/update-node.yml
Labels: github-actions

chore(node): track only the major LTS version
  .github/workflows/update-node.yml
  .nvmrc
Labels: github-actions, javascript

chore(node): track only the major LTS version
  .github/workflows/update-node.yml
  .nvmrc
Labels: github-actions, javascript

chore: harden .npmrc with ignore-scripts and engine-strict
  .npmrc
Labels: javascript

chore: harden .npmrc with ignore-scripts and engine-strict
  .npmrc
Labels: javascript

.github/labeler.yml:

documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - .github/CODEOWNERS
      - .github/SECURITY.md
      - LICENSE
github-actions:
  - changed-files:
    - any-glob-to-any-file:
      - .github/workflows/*.yml
javascript:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.js'
      - .npmrc
      - .nvmrc
      - package.json
      - package-lock.json
