Repository devpow112/serverless-plugin-function-value, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, github-actions, javascript

.github/labeler.yml:

documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - .github/CODEOWNERS
      - .github/SECURITY.md
      - LICENSE
github-actions:
  - changed-files:
    - any-glob-to-any-file:
      - .github/workflows/*.yml
javascript:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.js'
      - .npmrc
      - .nvmrc
      - package.json
      - package-lock.json

chore(deps-dev): bump chai from 4.3.10 to 5.1.0
  package-lock.json
  package.json
  test/integration/function-value-plugin.test.mjs
  test/unit/function-value-plugin.test.mjs
Labels: javascript

chore(deps-dev): bump chai from 4.3.10 to 5.1.0
  package-lock.json
  package.json
  test/integration/function-value-plugin.test.mjs
  test/unit/function-value-plugin.test.mjs
Labels: javascript

chore(node): bump from 20.11.0 to 20.11.1
  .nvmrc
Labels: javascript

chore(node): bump from 20.11.0 to 20.11.1
  .nvmrc
Labels: javascript

chore(node): bump from 20.11.1 to 20.12.0
  .nvmrc
Labels: javascript

chore(node): bump from 20.11.1 to 20.12.0
  .nvmrc
Labels: javascript

chore(node): bump from 20.12.0 to 20.12.1
  .nvmrc
Labels: javascript

chore(node): bump from 20.12.0 to 20.12.1
  .nvmrc
Labels: javascript

chore(node): bump from 20.12.1 to 20.12.2
  .nvmrc
Labels: javascript

chore(node): bump from 20.12.1 to 20.12.2
  .nvmrc
Labels: javascript

chore(node): bump from 20.12.2 to 20.13.0
  .nvmrc
Labels: javascript

chore(node): bump from 20.12.2 to 20.13.0
  .nvmrc
Labels: javascript

chore(node): bump from 20.13.0 to 20.13.1
  .nvmrc
Labels: javascript

chore(node): bump from 20.13.0 to 20.13.1
  .nvmrc
Labels: javascript

chore(node): bump from 20.13.1 to 20.14.0
  .nvmrc
Labels: javascript

chore(node): bump from 20.13.1 to 20.14.0
  .nvmrc
Labels: javascript

chore(node): bump from 20.14.0 to 20.15.0
  .nvmrc
Labels: javascript

chore(node): bump from 20.14.0 to 20.15.0
  .nvmrc
Labels: javascript

chore(node): bump from 20.15.0 to 20.15.1
  .nvmrc
Labels: javascript

chore(node): bump from 20.15.0 to 20.15.1
  .nvmrc
Labels: javascript

chore(node): bump from 20.15.1 to 20.16.0
  .nvmrc
Labels: javascript

chore(node): bump from 20.15.1 to 20.16.0
  .nvmrc
Labels: javascript

chore(node): bump from 20.16.0 to 20.17.0
  .nvmrc
Labels: javascript

chore(node): bump from 20.16.0 to 20.17.0
  .nvmrc
Labels: javascript

chore(node): bump from 20.17.0 to 20.18.0
  .nvmrc
Labels: javascript

chore(node): bump from 20.17.0 to 20.18.0
  .nvmrc
Labels: javascript

chore(node): bump from 20.18.0 to 22.11.0
  .nvmrc
Labels: javascript

chore(node): bump from 20.18.0 to 22.11.0
  .nvmrc
Labels: javascript

fix: upgrade dependenciesa and fix issues
  .eslintrc.json
  .github/dependabot.yml
  .mocharc.json
  README.md
  eslint.config.js
  package-lock.json
  package.json
  test/.eslintrc.json
  test/integration/function-value-plugin.test.js
  test/unit/function-value-plugin.test.js
Labels: documentation, javascript

fix: upgrade dependenciesa and fix issues
  .eslintrc.json
  .github/dependabot.yml
  .mocharc.json
  README.md
  eslint.config.js
  package-lock.json
  package.json
  test/.eslintrc.json
  test/integration/function-value-plugin.test.js
  test/unit/function-value-plugin.test.js
Labels: documentation, javascript

chore(release): 2.0.12 [skip actions]
  package-lock.json
  package.json
Labels: javascript

Notes added by 'git notes add'
  da26e7169164fff06670edbd7f86260ac6f30644
Labels: none

chore(node): bump from 20.18.0 to 22.12.0
  .nvmrc
Labels: javascript

chore(node): bump from 20.18.0 to 22.12.0
  .nvmrc
Labels: javascript

chore: switch to github app automation tokens
  .github/workflows/release.yml
  .github/workflows/update-license.yml
  .github/workflows/update-node.yml
Labels: github-actions

chore: switch to github app automation tokens
  .github/workflows/release.yml
  .github/workflows/update-license.yml
  .github/workflows/update-node.yml
Labels: github-actions

fix: add provenence
  .github/workflows/release.yml
  package.json
Labels: github-actions, javascript

fix: add provenence
  .github/workflows/release.yml
  package.json
Labels: github-actions, javascript

chore(release): 2.0.13 [skip actions]
  package-lock.json
  package.json
Labels: javascript

Notes added by 'git notes add'
  67b662663eff3cbb908bbac32e7bf7a84feeb0db
Labels: none
