Repository devpow112/serverless-plugin-function-value, changes with the labels that .github/labeler.yml gives for each.
All labels: javascript, github-actions, documentation

chore(release): 1.3.3
  package-lock.json
  package.json
Labels: javascript

Notes added by 'git notes add'
  bc/87b4e7797345b54535f20c73ee9de1c0e01cbc
Labels: none

chore: update `package-lock.json` version
  README.md
  package-lock.json
Labels: javascript, documentation

chore: update `package-lock.json` version
  README.md
  package-lock.json
Labels: javascript, documentation

chore: adjust eslint rules
  .eslintrc.json
Labels: none

chore: adjust eslint rules
  .eslintrc.json
Labels: none

chore: remove `dist` before build
  package-lock.json
  package.json
Labels: javascript

chore: remove `dist` before build
  package-lock.json
  package.json
Labels: javascript

chore: run release on all pushes to master
  .github/workflows/release.yml
Labels: github-actions

chore: run release on all pushes to master
  .github/workflows/release.yml
Labels: github-actions

chore: make node engine more specific
  package.json
Labels: javascript

chore: make node engine more specific
  package.json
Labels: javascript

chore: add auto approve/merge for dependabot
  .github/workflows/dependabot.yml
  package-lock.json
Labels: javascript, github-actions

chore: add auto approve/merge for dependabot
  .github/workflows/dependabot.yml
  package-lock.json
Labels: javascript, github-actions

chore: fix dependabot auto merge
  .github/workflows/dependabot.yml
Labels: github-actions

chore: fix dependabot auto merge
  .github/workflows/dependabot.yml
Labels: github-actions

chore: fix dependabot auto merge
  .github/workflows/dependabot.yml
Labels: github-actions

chore: fix dependabot auto merge
  .github/workflows/dependabot.yml
Labels: github-actions

chore: fix dependabot auto merge
  .github/workflows/dependabot.yml
Labels: github-actions

chore: fix dependabot auto merge
  .github/workflows/dependabot.yml
Labels: github-actions

chore: fix dependabot auto merge
  .github/workflows/dependabot.yml
Labels: github-actions

chore: fix dependabot auto merge
  .github/workflows/dependabot.yml
Labels: github-actions

chore: adjust run condition for dependabot auto merge/approve
  .github/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

chore: adjust run condition for dependabot auto merge/approve
  .github/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

chore: adjust dependabot config
  .github/dependabot.yml
Labels: none

chore: adjust dependabot config
  .github/dependabot.yml
Labels: none

chore: test dependabot auto config
  .github/workflows/dependabot.yml
Labels: github-actions

chore: test dependabot auto config
  .github/workflows/dependabot.yml
Labels: github-actions

chore: fix dependabot auto set up
  .github/workflows/dependabot.yml
Labels: github-actions

chore: remove dependabot auto approve/merge
  .github/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

chore: remove dependabot auto approve/merge
  .github/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

chore: adjust auto update run time
  .github/workflows/update-node.yml
Labels: github-actions

chore: adjust auto update run time
  .github/workflows/update-node.yml
Labels: github-actions

build: switch to use `node-version-file`
  .github/workflows/ci.yml
  .github/workflows/release.yml
Labels: github-actions

build: switch to use `node-version-file`
  .github/workflows/ci.yml
  .github/workflows/release.yml
Labels: github-actions

chore: switch to custom eslint config
  .eslintrc.json
  package-lock.json
  package.json
  test/.eslintrc.json
Labels: javascript

chore: switch to custom eslint config
  .eslintrc.json
  package-lock.json
  package.json
  test/.eslintrc.json
Labels: javascript

chore: bump dependencies
  package-lock.json
  package.json
Labels: javascript

chore: bump dependencies
  package-lock.json
  package.json
Labels: javascript

feat: upgrade to serverless v3
  .github/SECURITY.md
  README.md
  package-lock.json
  package.json
  src/function-value-plugin.js
  src/index.js
  test/integration/assets/serverless.yml
  test/unit/function-value-plugin.test.js
Labels: javascript, documentation

.github/labeler.yml:

javascript:
  - 'package-lock.json'
  - 'package.json'
  - '**/*.js'
github-actions:
  - '.github/workflows/*'
documentation:
  - '.github/CODEOWNERS'
  - 'LICENSE'
  - '*.md'
