Repository devpow112/serverless-plugin-function-value, changes with the labels that .github/labeler.yml gives for each.
All labels: javascript, github-actions, documentation

.github/labeler.yml:

javascript:
  - 'package-lock.json'
  - 'package.json'
  - '**/*.js'
github-actions:
  - '.github/workflows/*'
documentation:
  - '.github/CODEOWNERS'
  - 'LICENSE'
  - '*.md'

build: switch to setup-node cache
  .github/workflows/ci.yml
Labels: github-actions

build: switch to setup-node cache
  .github/workflows/release.yml
Labels: github-actions

build: switch to setup-node cache
  .github/workflows/ci.yml
Labels: github-actions

build: switch to setup-node cache
  .github/workflows/release.yml
Labels: github-actions

chore(release): 1.2.77
  package-lock.json
  package.json
Labels: javascript

Notes added by 'git notes add'
  99/5630974f1a3b52b9e4b0e6212a40686eb12f86
Labels: none

chore(release): 1.2.78
  package-lock.json
  package.json
Labels: javascript

Notes added by 'git notes add'
  06/6614732daeb7f55c7c7ac0c5794d0c36217ca6
Labels: none

chore(release): 1.2.79
  package-lock.json
  package.json
Labels: javascript

Notes added by 'git notes add'
  c0/0e22c066d8765d8e2fd6baad719bd0af79a575
Labels: none

feat: drop node 10
  .babelrc.json
  package.json
Labels: javascript

feat: drop node 10
  .babelrc.json
  package.json
Labels: javascript

chore(release): 1.3.0
  package-lock.json
  package.json
Labels: javascript

Notes added by 'git notes add'
  12/ddf01cd8c221962d9ca1664a50fc57c2ea4f2a
Labels: none

fix: vulnerability issues
  package-lock.json
Labels: javascript

fix: vulnerability issues
  package-lock.json
Labels: javascript

chore(release): 1.3.1
  package-lock.json
  package.json
Labels: javascript

Notes added by 'git notes add'
  22/4f60f1362bde3af833e3614900b19df422810a
Labels: none

chore: clean-up dependencies and tests
  package-lock.json
  package.json
  test/integration/function-value-plugin.test.js
  test/unit/function-value-plugin.test.js
Labels: javascript

chore: clean-up dependencies and tests
  package-lock.json
  package.json
  test/integration/function-value-plugin.test.js
  test/unit/function-value-plugin.test.js
Labels: javascript

test: fix spelling mistake
  test/integration/function-value-plugin.test.js
Labels: javascript

test: fix spelling mistake
  test/integration/function-value-plugin.test.js
Labels: javascript

build: adjust dependabot run time
  .github/dependabot.yml
Labels: none

build: adjust dependabot run time
  .github/dependabot.yml
Labels: none

chore: update `.gitattributes`
  .gitattributes
Labels: none

chore: update `.gitattributes`
  .gitattributes
Labels: none

docs: update security
  .github/SECURITY.md
Labels: none

docs: update security
  .github/SECURITY.md
Labels: none

test: clean-up
  src/function-value-plugin.js
  test/unit/function-value-plugin.test.js
Labels: javascript

test: clean-up
  src/function-value-plugin.js
  test/unit/function-value-plugin.test.js
Labels: javascript

refactor: enable optional chaining
  .eslintrc.json
  src/function-value-plugin.js
Labels: javascript

refactor: enable optional chaining
  .eslintrc.json
  src/function-value-plugin.js
Labels: javascript

chore: switch tokens
  .github/workflows/release.yml
  .github/workflows/update-license.yml
  .github/workflows/update-node.yml
Labels: github-actions

chore: switch tokens
  .github/workflows/release.yml
  .github/workflows/update-license.yml
  .github/workflows/update-node.yml
Labels: github-actions

chore(release): 1.3.2
  package-lock.json
  package.json
Labels: javascript

Notes added by 'git notes add'
  51/b5711962f36bdc54c7f5b037171b057f4d274f
Labels: none

build: remove unneeded check
  .github/workflows/release.yml
Labels: github-actions

build: remove unneeded check
  .github/workflows/release.yml
Labels: github-actions

fix: vulnerabilities
  package-lock.json
Labels: javascript

fix: vulnerabilities
  package-lock.json
Labels: javascript
