Repository devpow112/serverless-plugin-function-value, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, github-actions, javascript

chore(node): bump from 16.13.0 to 16.14.0
  .nvmrc
Labels: javascript

chore(node): bump from 16.13.0 to 16.14.0
  .nvmrc
Labels: javascript

chore: add auto merge of auto node updates
  .github/workflows/update-node.yml
  .nvmrc
Labels: github-actions, javascript

chore: add auto merge of auto node updates
  .github/workflows/update-node.yml
  .nvmrc
Labels: github-actions, javascript

chore(node): bump from 16.13.0 to 16.14.0
  .nvmrc
Labels: javascript

chore: fix auto merge
  .github/workflows/update-node.yml
Labels: github-actions

chore: fix auto merge
  .github/workflows/update-node.yml
Labels: github-actions

chore(node): bump from 16.13.0 to 16.14.0
  .nvmrc
Labels: javascript

chore(node): bump from 16.13.0 to 16.14.0
  .nvmrc
Labels: javascript

chore: clean-up naming
  .github/workflows/update-node.yml
Labels: github-actions

chore: clean-up naming
  .github/workflows/update-node.yml
Labels: github-actions

.github/labeler.yml:

documentation:
  - '*.md'
github-actions:
  - .github/workflows/*.yml
javascript:
  - '*.js'
  - .nvmrc
  - package.json
  - package-lock.json
