Repository devpow112/serverless-plugin-function-value, changes with the labels that .github/labeler.yml gives for each.
All labels: javascript, github-actions, documentation

feat: upgrade to serverless v3
  .github/SECURITY.md
  README.md
  package-lock.json
  package.json
  src/function-value-plugin.js
  src/index.js
  test/integration/assets/serverless.yml
  test/unit/function-value-plugin.test.js
Labels: javascript, documentation

chore(release): 2.0.0
  package-lock.json
  package.json
Labels: javascript

Notes added by 'git notes add'
  7a/cb77dca1f2cc020905be529995704364a319e0
Labels: none

build: remove unneeded step
  .github/workflows/release.yml
Labels: github-actions

build: remove unneeded step
  .github/workflows/release.yml
Labels: github-actions

docs: add serverless website link
  README.md
Labels: documentation

docs: add serverless website link
  README.md
Labels: documentation

build: clean-up workflow automation token
  .github/workflows/release.yml
  .github/workflows/update-license.yml
  .github/workflows/update-node.yml
Labels: github-actions

build: clean-up workflow automation token
  .github/workflows/release.yml
  .github/workflows/update-license.yml
  .github/workflows/update-node.yml
Labels: github-actions

build: adjust node update workflow
  .github/workflows/update-node.yml
Labels: github-actions

build: adjust node update workflow
  .github/workflows/update-node.yml
Labels: github-actions

test: change node version to older version
  .nvmrc
Labels: none

test: change node version to older version
  .nvmrc
Labels: none

build: fix node auto update
  .github/workflows/update-node.yml
Labels: github-actions

build: fix node auto update
  .github/workflows/update-node.yml
Labels: github-actions

chore(node): bump from 16.13.1 to 16.13.2
  .nvmrc
Labels: none

chore(node): bump from 16.13.1 to 16.13.2
  .nvmrc
Labels: none

chore: add manual trigger for workflow
  .github/workflows/sync-labels.yml
Labels: github-actions

chore: add manual trigger for workflow
  .github/workflows/sync-labels.yml
Labels: github-actions

chore: adjust license auto update
  .github/workflows/update-license.yml
Labels: github-actions

chore: adjust license auto update
  .github/workflows/update-license.yml
Labels: github-actions

build: fix automation
  .github/workflows/update-license.yml
  .github/workflows/update-node.yml
Labels: github-actions

build: fix automation
  .github/workflows/update-license.yml
  .github/workflows/update-node.yml
Labels: github-actions

refactor: change code-flow
  src/function-value-plugin.js
Labels: javascript

refactor: change code-flow
  src/function-value-plugin.js
Labels: javascript

build: fix release
  .github/workflows/release.yml
Labels: github-actions

build: fix release
  .github/workflows/release.yml
Labels: github-actions

chore(release): 2.0.1
  package-lock.json
  package.json
Labels: javascript

Notes added by 'git notes add'
  7f/727c5e529166788836828b8ba7f1a12ff193b9
Labels: none

docs: clean-up readme
  README.md
Labels: documentation

docs: clean-up readme
  README.md
Labels: documentation

chore: remove unneeded development dependencies
  package-lock.json
  package.json
Labels: javascript

chore: remove unneeded development dependencies
  package-lock.json
  package.json
Labels: javascript

fix: remove unneeded dependency
  package-lock.json
  package.json
Labels: javascript

fix: remove unneeded dependency
  package-lock.json
  package.json
Labels: javascript

chore(release): 2.0.2
  package-lock.json
  package.json
Labels: javascript

Notes added by 'git notes add'
  a7/69c7eeb7ce450f484419d92cec019f30c6ead1
Labels: none

chore(node): bump from 16.13.2 to 16.14.0
  .nvmrc
Labels: none

chore(node): bump from 16.13.2 to 16.14.0
  .nvmrc
Labels: none

chore: switch to sharable config
  .releaserc.json
  package-lock.json
  package.json
Labels: javascript

.github/labeler.yml:

javascript:
  - 'package-lock.json'
  - 'package.json'
  - '**/*.js'
github-actions:
  - '.github/workflows/*'
documentation:
  - '.github/CODEOWNERS'
  - 'LICENSE'
  - '*.md'
