Repository devpow112/serverless-plugin-function-value, changes with the labels that .github/labeler.yml gives for each.
All labels: javascript, github-actions, documentation

chore(release): 1.2.62
  package-lock.json
  package.json
Labels: javascript

Notes added by 'git notes add'
  40/3dc884830952513320fe4a41713169af66a1b6
Labels: none

chore(release): 1.2.63
  package-lock.json
  package.json
Labels: javascript

Notes added by 'git notes add'
  1e/0057ee9519c56c8515c2dd61ae05781f05b5c7
Labels: none

chore(release): 1.2.64
  package-lock.json
  package.json
Labels: javascript

Notes added by 'git notes add'
  cc/d42b106d09c332fa0e8dd2479bc061acc2a37d
Labels: none

chore(release): 1.2.65
  package-lock.json
  package.json
Labels: javascript

Notes added by 'git notes add'
  42/8ce6e5bbf38fc25e6e442fa435a58750037d6f
Labels: none

chore(release): 1.2.66
  package-lock.json
  package.json
Labels: javascript

Notes added by 'git notes add'
  5b/4d684096f68d189ef792babff0f9b479a707b6
Labels: none

chore(config): add json to markdownlint config filename
  .markdownlint.json
Labels: none

chore(config): add json to markdownlint config filename
  .markdownlint.json
Labels: none

chore(release): 1.2.67
  package-lock.json
  package.json
Labels: javascript

Notes added by 'git notes add'
  d1/679b3bb6a0891e25c05c3667972c246260868b
Labels: none

chore(release): 1.2.68
  package-lock.json
  package.json
Labels: javascript

Notes added by 'git notes add'
  91/8149b565d8aba2f739c575c28448abb6a4695b
Labels: none

chore(release): 1.2.69
  package-lock.json
  package.json
Labels: javascript

Notes added by 'git notes add'
  3e/f711cabb48123f7b5139c40ca81494f3f561ab
Labels: none

chore(release): 1.2.70
  package-lock.json
  package.json
Labels: javascript

Notes added by 'git notes add'
  fa/7af687abfbba9c9c6f2d873bae38c2c4c49307
Labels: none

chore(release): 1.2.71
  package-lock.json
  package.json
Labels: javascript

Notes added by 'git notes add'
  33/39a9085b768cf662b6be22eb66b4e041fabfc9
Labels: none

build: checkout branch that ci ran on
  .github/workflows/release.yml
Labels: github-actions

build: add maintenance branches
  .github/workflows/release.yml
Labels: github-actions

build: add maintenance branches
  .github/workflows/release.yml
Labels: github-actions

build: checkout branch that ci ran on
  .github/workflows/release.yml
Labels: github-actions

chore(release): 1.2.72
  package-lock.json
  package.json
Labels: javascript

Notes added by 'git notes add'
  0a/e67575780bed8a3f30d9480599007ce6960ab1
Labels: none

chore: remove maintenance branch support
  .github/workflows/release.yml
Labels: github-actions

chore: remove maintenance branch support
  .github/workflows/release.yml
Labels: github-actions

chore(release): 1.2.73
  package-lock.json
  package.json
Labels: javascript

Notes added by 'git notes add'
  b3/c16eb800788a8981b6d825d3ce563f073e6b80
Labels: none

chore(release): 1.2.74
  package-lock.json
  package.json
Labels: javascript

Notes added by 'git notes add'
  f5/af53fb1a1077413fc313930073468c8ab77b3e
Labels: none

chore(release): 1.2.75
  package-lock.json
  package.json
Labels: javascript

Notes added by 'git notes add'
  5c/035f4c988da8377a53635cd3cac203a7099ffa
Labels: none

build(release): only release on prod dependencies
  .releaserc.json
Labels: none

build(release): only release on prod dependencies
  .releaserc.json
Labels: none

chore(release): 1.2.76
  package-lock.json
  package.json
Labels: javascript

Notes added by 'git notes add'
  57/1c299140618ef9d3a05041ece913fd0fd53789
Labels: none

.github/labeler.yml:

javascript:
  - 'package-lock.json'
  - 'package.json'
  - '**/*.js'
github-actions:
  - '.github/workflows/*'
documentation:
  - '.github/CODEOWNERS'
  - 'LICENSE'
  - '*.md'
